[Unit]
Description=Kiosk UI
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/kiosk
ExecStart=/usr/bin/python3 /home/pi/kiosk/main.py
Restart=always
RestartSec=5
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/pi/.Xauthority

[Install]
WantedBy=multi-user.target


// sudo nano /etc/systemd/system/kiosk.service